.container {
  color: black;
  font-weight: 800;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(160, 214, 131);
  // border-radius: 20px;
  width: 480px;
  height: auto;
  padding: 20px;
  position: relative;
  bottom:30px;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titular {
  background-color: rgb(160, 214, 131);
  color: black;

  width: 520px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 10px;
}

.fondo {
  width: 100%;
  min-height: 100vh;
  background: whitesmoke;
}

.table-title {
  text-align: right;
  padding: 10px;
  font-weight: bold;
}

.table-data {
  text-align: left;
  padding: 10px;
}

ion-row {
  margin-bottom: 20px; /* Aumento del margen para más separación */
}

ion-col {
  padding: 0 10px;
}

ion-col.size-6 {
  flex: 1;
}

/* Estilos para la imagen centrada */
.imagen-contenedor {
  text-align: center;
  margin-bottom: 20px; /* Separación entre imagen y tabla */
}

.imagen-centro {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; /* Separación adicional debajo de la imagen */
}

/* Mejorando la separación en la tabla */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px; /* Separación entre filas de la tabla */
}

table td {
  padding: 15px;
  border-bottom: 1px solid #dddddd00;
}

table td strong {
  font-weight: bold;
}

table tr:last-child td {
  border-bottom: none;
}
.formulario-editar {
  background-color: rgb(114, 191, 120); /* Fondo verde */
  padding: 16px; /* Añade espacio interno */
  border-radius: 8px; /* Bordes redondeados */
}

.formulario-editar ion-item {
  // background: white; /* Fondo blanco para cada campo */
  border-radius: 6px;
  margin-bottom: 12px; /* Separación entre elementos */
  padding: 8px;
}

.formulario-editar ion-button {
  background-color: #4caf50; /* Verde más oscuro para los botones */
  color: white; /* Texto blanco */
  margin-top: 12px;
}

.formulario-editar ion-button:hover {
  filter: brightness(0.9); /* Efecto al pasar el ratón */
}

.formulario {
  background-color: rgb(160, 214, 131);
  background: rgb(160, 214, 131);
  color: black;
  font-weight: bold;
  // font-size: 18px; /* Tamaño del texto ingresado */
  // // width: 500 auto;
  // // max-width: 500px;
  // background-color: rgb(160, 214, 131);
  // // display: flex;
  // padding: 10px;
  // max-width: 500px;
  // min-width: 300px;

}
