<ion-split-pane contentId="adminContent">
  <!-- Menú lateral -->
  <ion-menu side="start" menuId="mainMenu" contentId="adminContent">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-item (click)="setSection('dashboard')">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>

        <ion-item (click)="setSection('proveedores')" >
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-label>Proveedores</ion-label>
        </ion-item>

        <ion-item (click)="setSection('configuracion')">
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-item>
        <!-- Opción de Cerrar Sesión -->
        <ion-item (click)="onLogout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content id="adminContent" class="main-content">
    <div *ngIf="currentSection === 'dashboard'">
      <h2>Dashboard</h2>
      <p>Aquí puedes mostrar estadísticas, gráficos, y otros resúmenes.</p>
    </div>

    <div *ngIf="currentSection === 'proveedores'">
      <h2>Gestión de Proveedores</h2>
      <ion-item class="titulo-label">
        <ion-label>
          Rut
        </ion-label>
        <ion-label>
          Nombre
        </ion-label>
        <ion-label>
          Apellido
        </ion-label>
        <ion-label class="precio">
          Correo
        </ion-label>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let item of proveedores">
          <ion-label>
            {{ item.rut }} - {{item.dv}}
          </ion-label>
          <ion-label>
            {{ item.nombre }}
          </ion-label>
          <ion-label>
            {{ item.apellido }}
          </ion-label>
          <ion-label>
            {{ item.correo_electronico }}
          </ion-label>
          <div class="aumentar-disminuir">
            <ion-button (click)="onEdit(item)">Editar</ion-button>
          <ion-button (click)="onDelete(item)">Eliminar</ion-button>
          </div>
        </ion-item>
      </ion-list>
      <ion-item>
        <div>
          <ion-button (click)="toggleCrudForm()">
            {{ showCrudForm ? 'Cancelar' : 'Agregar Proveedor' }}
          </ion-button>
        </div>
      </ion-item>
      <!-- <ion-list>
        <ion-item *ngFor="let proveedor of proveedores">
          <h2>{{ proveedor.nombre }} {{ proveedor.apellido }}</h2>
          <p>RUT: {{ proveedor.rut }}</p>
          <ion-button (click)="onEdit(proveedor)">Editar</ion-button>
          <ion-button (click)="onDelete(proveedor)">Eliminar</ion-button>
        </ion-item>
      </ion-list> -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Formulario de Registro de Proveedor</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="registerForm" novalidate *ngIf="showCrudForm">
            <ion-item>
              <ion-label position="stacked">RUT</ion-label>
              <ion-row>
                <ion-col size="9">
                  <ion-input type="text" formControlName="rut" placeholder="12345678"></ion-input>
                </ion-col>
                <ion-col size="3">
                  <ion-input type="text" formControlName="dv" placeholder="0"></ion-input>
                </ion-col>
              </ion-row>
              <div *ngIf="registerForm.get('rut')?.invalid && registerForm.get('rut')?.touched">
                <ion-text color="danger">El RUT es obligatorio y debe ser numérico.</ion-text>
              </div>
              <div *ngIf="registerForm.get('dv')?.invalid && registerForm.get('dv')?.touched">
                <ion-text color="danger">El DV es obligatorio y debe ser un número o 'K'.</ion-text>
              </div>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Correo Electrónico</ion-label>
              <ion-input type="email" formControlName="correo_electronico"></ion-input>
              <div *ngIf="registerForm.get('correo_electronico')?.invalid && registerForm.get('correo_electronico')?.touched">
                <ion-text color="danger">El correo es obligatorio y debe ser válido.</ion-text>
              </div>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input type="password" formControlName="contrasena"></ion-input>
              <div *ngIf="registerForm.get('contrasena')?.invalid && registerForm.get('contrasena')?.touched">
                <ion-text color="danger">La contraseña es obligatoria y debe tener al menos 8 caracteres.</ion-text>
              </div>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input type="text" formControlName="nom_user"></ion-input>
              <div *ngIf="registerForm.get('nom_user')?.invalid && registerForm.get('nom_user')?.touched">
                <ion-text color="danger">El nombre es obligatorio y solo debe contener letras.</ion-text>
              </div>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Apellido</ion-label>
              <ion-input type="text" formControlName="ap_user"></ion-input>
              <div *ngIf="registerForm.get('ap_user')?.invalid && registerForm.get('ap_user')?.touched">
                <ion-text color="danger">El apellido es obligatorio y solo debe contener letras.</ion-text>
              </div>
            </ion-item>

            <ion-button expand="full" type="submit" (click)="onSubmit()">Registrar Proveedor</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- Configuración -->
    <div *ngIf="currentSection === 'configuracion'">
      <h2>Configuración</h2>
      <p>Aquí puedes cambiar configuraciones del sistema, como ajustes generales o permisos.</p>
    </div>
  </ion-content>
</ion-split-pane>
