<ion-content [fullscreen]="true">
  <main>
    <ion-grid class="fondo">
      <!-- Título principal -->
      <ion-row>

      </ion-row>

      <ion-row>
        <!-- Columna para el carrito de compras -->
        <ion-col size-md="5" size-lg="4">
          <!-- <ion-col class="centrar">          </ion-col> -->
            <!-- Puedes agregar aquí un título si lo deseas -->
            <h1 style="color: black; font-weight: bold;" class="titular datos-cliente-title">Carritode compras</h1>
            <br>

          <!-- Resumen del carrito -->
          <div>
            <ul class="list-group mb-3">

              <li style="background: rgb(160, 214, 131); color: black; font-weight: bold; font-size: 20px;" class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let item of carrito?.items; let i = index">

                <div>
                  <h6 style="background: rgb(160, 214, 131); color: black; font-weight: bold; font-size: 24px;" class="my-0">{{ item.nombre}}</h6>
                  <small style="background: rgb(160, 214, 131); color: black; font-weight: bold; font-size: 20px;" class="text-body-secondary">Cantidad: {{ item.cantidad }} x  </small>
                  <span style=" color: black; font-weight: 800; font-size: 20px;" class="precio">${{ precioUnitario(item.precio, item.cantidad) }} CLP</span>


                </div>
                  <!-- ARREGLAR  -->
                  <!-- ARREGLAR  -->
                  <!-- ARREGLAR  -->
                  <!-- ARREGLAR  -->
                  <!-- ARREGLAR  -->
                  <!-- ARREGLAR  -->
                <!-- Botones de suma y resta -->
                <div class="d-flex">
                  <div class="aumentar-disminuir">
                    <ion-button (click)="bajarItem(item.producto_id)">-</ion-button>
                    <p> {{ item.cantidad }} </p>
                    <ion-button (click)="agregarItem(item.producto_id)">+</ion-button>
                  </div>
                  <ion-button color="danger" (click)="removeItem(item.producto_id)">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </div>
              </li>
              <li style="background: rgb(160, 214, 131); color: black; font-weight: bold; font-size: 20px;" class="list-group-item d-flex justify-content-between">
                <span>Total (CLP)</span>
                <strong>${{ total }}</strong>
              </li>
            </ul>
            <!-- <button class="btn btn-primary" expand="block" (click)="toggleClienteForm()">Continuar</button> -->
          </div>
        </ion-col>

        <!-- Columna para el formulario de cliente (siempre visible) -->
        <ion-col size-md="7" size-lg="8">
          <form [formGroup]="customerForm">
            <h4 style="color: black; font-weight: bold;" class="titular datos-cliente-title">Datos del cliente</h4>

            <ion-row class="g-3" style="color: black; font-weight: bold;">
              <!-- Campos del formulario -->
              <ion-col size="6">
                <ion-label class="">RUT</ion-label>
                <ion-input class="input-form" [(ngModel)]="customer.rut" name="rut" placeholder=" 12345678"
                          (ionBlur)="buscar_cliente(customer.rut)" formControlName="rut">
                </ion-input>
              </ion-col>
              <ion-col size="6" style="color: gray;">
                <ion-label class="form-label" position="stacked">DV</ion-label>
                <ion-input style="color: gray;" class="input-form" type="text" [(ngModel)]="customer.dv" name="dv"
                          placeholder=" 0" formControlName="dv">
                </ion-input>
              </ion-col>
              <ion-col size="12" style="color: gray;">
                <ion-label class="form-label" position="stacked">Correo Electrónico</ion-label>
                <ion-input style="color: gray;" class="input-form" type="email" [(ngModel)]="customer.correo_electronico"
                          name="correo_electronico" placeholder=" ejemplo@gmai..com" formControlName="correo_electronico">
                </ion-input>
              </ion-col>
              <ion-col size="12" style="color: gray;">
                <ion-label class="form-label" position="stacked">Contraseña</ion-label>
                <ion-input class="input-form" [type]="showPasswordRegister ? 'text' : 'password'" formControlName="contrasena"
                  [(ngModel)]="customer.contrasena" placeholder=" ########">
                  <ion-icon
                    [name]="showPasswordRegister ? 'eye-off' : 'eye'"
                    slot="end"
                    (click)="togglePasswordVisibility('register')"
                    style="cursor: pointer;">
                  </ion-icon>
                </ion-input>
              </ion-col>
              <ion-col size="12" style="color: gray;">
                <ion-label class="form-label" position="stacked">Nombre</ion-label>
                <ion-input class="input-form" type="text" [(ngModel)]="customer.nombre" name="nombre"
                          placeholder=" Primer nombre " formControlName="nombre">
                </ion-input>
              </ion-col>
              <ion-col size="12" style="color: gray;">
                <ion-label class="form-label" position="stacked">Dirección</ion-label>
                <ion-input class="input-form" type="text" [(ngModel)]="customer.direccion" name="direccion"
                        placeholder=" Ejemplo calle #123" formControlName="direccion">
                </ion-input>
              </ion-col>
            </ion-row>
            <hr class="my-2" style="color: gray;">
            <button class="btn btn-primary" expand="block" (click)="checkout_pago()">Pagar</button>
          </form>
        </ion-col>
      </ion-row>

      <!-- Carrito vacío -->
      <div *ngIf="carrito?.items?.length === 0" class="text-center mt-4">
        <p>El carrito está vacío</p>
      </div>
    </ion-grid>
  </main>
</ion-content>
